/* ----------------App------------------- */
/* .app {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background: #262626;
} */
/* @media screen and (min-width: 767) {
  .app {
    background: #262626;
    height: 200px;
  }
} */
/*--------------------NavBar--------------------*/

li > a {
  color: black;
  text-decoration: none;
}
h1 > a {
  color: black;
}

.container {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

.nav {
  padding-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.brand {
  font-size: 3rem;
  font-weight: 300;
}

.brand span {
  color: crimson;
}

.nav ul {
  display: flex;
}

.nav ul li {
  list-style: none;
}

.nav ul li a {
  padding: 1rem 0;
  margin: 0 3rem;
  position: relative;
  letter-spacing: 2px;
}

.nav ul li a:last-child {
  margin-left: 0;
}

.nav ul li a::before,
.nav ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: crimson;
  left: 0;
  transform: scaleX(0);
  transition: all 0.5s;
}

.nav ul li a::before {
  top: 0;
  transform-origin: left;
}

.nav ul li a::after {
  bottom: 0;
  transform-origin: right;
}

.nav ul li a:hover::after,
.nav ul li a:hover::before {
  transform: scaleX(1);
}

/* --------------Search Bar--------------------- */
.search-box {
  margin-bottom: 10px;
  margin-right: 10px;
}
.search-box input,
button {
  border: none;
  outline: none;
  background: none;
  font-size: 16px;
  color: black;
  padding: 10px;
  font-size: 20px;
  border-bottom: 3px solid crimson;
}

.search-box .search-btn {
  font-weight: bold;
  color: crimson;
  font-size: 20px;
}
/*-------------------Home Page---------------------*/

.box {
  background: white;
  margin-top: 7%;
  padding: 5%;
  box-shadow: 10px 10px 20px;
}

.box #inner {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.box #inner h1 {
  font-size: 30px;
  font-weight: bold;
}

.box #inner h3 {
  font-size: 20px;
}

.box #inner .lower {
  margin-top: 30px;
  text-align: center;
}

/* Error */
.error-notice {
  padding: 0.1rem;
  color: red;
  border: 1px solid #e07c7c;
  border-radius: 8px;
  background-color: #f8d6d6;
  text-align: center;
}
.error-notice button {
  border: none;
  font-weight: bold;
}

/* Saved-Box */

.saved-box {
  margin-top: 100px;
  background: white;
  padding: 30px;
  box-shadow: 10px 10px 20px;
}

input.saveBtn {
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  right: 0;
  margin-right: 150px;
  margin-top: -50px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 2px;
  background-color: crimson;
  border: none;
  color: #fff;
  padding: 5px 10px;
  width: 170px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 15px #193047;
  border-radius: 4px;
}

input.saveBtn:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px crimson;
  color: #000;
  transition: 1s;
}

input.saveBtn:after {
  content: "";
  background: crimson;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

input.saveBtn:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

input.saveBtn:focus {
  outline: 0;
}

/* Login */

.login-page {
  background-image: linear-gradient(rgba(0, 0, 0, 74%), rgba(0, 0, 0, 69%)),
    url("../assets/about-bg1.jpg");
  background-size: cover;
  height: 100vh;
  position: absolute;
  width: 100%;
}

.main {
  background-color: #ffffff;
  width: 400px;
  height: 500px;
  margin: 0 auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
  padding-top: 40px;
  color: crimson;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 23px;
  text-align: center;
}

form.form1 {
  padding-top: 40px;
}

.un,
.pass {
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: "Ubuntu", sans-serif;
}

.un:focus,
.pass:focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.login-btn {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #0082c6, crimson, #0082c6);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: "Ubuntu", sans-serif;
  margin-left: 12%;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  width: 76%;
  outline: none;
}

.login-btn:hover {
  background: linear-gradient(to right, #0082c6ba, #ed143db8, #0082c6ba);
}

.main span {
  margin-left: 50px;
}

.login-btn {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #e1bee7;
  text-decoration: none;
}

@media (max-width: 600px) {
  .login-page {
    width: 100%;
  }
  .main {
    border-radius: 0px;
    width: 300px;
    height: 420px;
    margin-left: -0px;
  }
}

/* Register */

.register-page {
  background-image: linear-gradient(rgba(0, 0, 0, 74%), rgba(0, 0, 0, 69%)),
    url("../assets/about-bg1.jpg");
  background-size: cover;
  height: 100vh;
  position: absolute;
  width: 100%;
}

form.form1 {
  padding-top: 40px;
}

.registerun,
.registerpass,
.cpass,
.email {
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 5px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  margin-top: -50px;
  font-family: "Ubuntu", sans-serif;
}

.r-un:focus,
.r-pass:focus,
.r-cpass:focus,
.r-email:focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.register-btn {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #0082c6, crimson, #0082c6);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: "Ubuntu", sans-serif;
  margin-left: 12%;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  width: 76%;
  outline: none;
}

.register-btn:hover {
  background: linear-gradient(to right, #0082c6ba, #ed143db8, #0082c6ba);
}

.main span {
  margin-left: 50px;
}

.register-btn {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #e1bee7;
  text-decoration: none;
}

@media (max-width: 600px) {
  .register-btn {
    width: 100%;
  }
  .main {
    border-radius: 0px;
    width: 300px;
    height: 420px;
    margin-left: -0px;
  }
}

.brand .outer-span {
  color: white;
  font-weight: 400;
}

.brand .outer-span:hover {
  color: #0082c6;
  transition: 0.5s;
}

.brand .inner-span {
  color-adjust: crimson;
}

/* Loading */

.loading {
  width: 100%;
  height: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}

.login-loader {
  text-align: center;
  margin-top: 20px;
}

.register-loader {
  text-align: center;
  margin-top: 1px;
}

/* Chatbot */

.chat-btn {
  outline: none;
  position: fixed;
  right: 50px;
  bottom: 30px;
  background: #0082c6;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  opacity: 0.8;
  transition: opacity 1s;
  padding-top: -0px;
  font-size: 30px;
}

.chat-btn:hover {
  opacity: 1;
}

.chat-popup {
  position: fixed;
  right: 50px;
  bottom: 80px;
}

/* Saved inner box */

.location {
  text-align: center;
  margin-bottom: 3rem;
}

.show-more {
  margin-left: 45%;
}

.saved-loader {
  margin-top: 25%;
  margin-left: 50%;
}

.saved-box button {
  font-size: 20px;
  margin-bottom: 20px;
}

.saved-box button .showMore {
  margin-top: 50px;
}

.model-text {
  text-align: center;
}

.model-text h1 {
  font-size: 80px;
  color: #0082c6;
}

.model-text h2 {
  font-size: 80px;
  color: #0082c6;
  border-bottom: 5px solid #0082c6;
}

.model-text h3 {
  font-size: 50px;
  color: black;
  margin-top: 20px;
}

.location {
  color: black;
  font-size: 35px;
}

button.remove {
  font-size: 25px;
  border-radius: 50%;
  background: white;
  color: #dc3646;
}

button.close {
  background-color: transparent;
  border: 0;
  border: 1px solid red;
  border-radius: 50%;
  padding: 5px;
  font-size: 50px;
  color: red;
}

button.close:hover {
  background: red;
  color: white;
  transition: 0.5s;
}

/* footer */

.footer {
  width: 100%;
  height: 100px;
  background: white;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
